.content-step {
  /* Positioning */
  /* Box-model */
  padding-bottom: 40px;
  /* Typography */
  /* Visual */
  /* Misc */

  > h2 {
    margin-top: 0;
  }

  .intro {
    margin-bottom: $spacing;
  }
}

