.logo {
  /* Positioning */
  /* Box-model */
  display: inline-block;
  margin: 0;
  /* Typography */
  font-family: 'Patua One', cursive;
  font-size: 32px;
  font-weight: normal;
  /* Visual */
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
